<form (submit)="addQuestion($event)" #newQuestion="ngForm">
  <input
    name="question"
    class="form-control"
    type="text"
    [(ngModel)]="question.question"
    placeholder="Прашање"
    required
  >
  <input
    name="points"
    class="form-control"
    type="number"
    [(ngModel)]="question.points"
    placeholder="Поени"
    min="10"
    max="50"
    step="1"
    required
  >
  <textarea
    name="answer"
    class="form-control"
    type="text"
    [(ngModel)]="question.answer"
    placeholder="Одговор"
    required
  >
  </textarea>
  <input
    name="bonusQuestion"
    class="form-control"
    type="text"
    placeholder="Бонус прашање"
    [(ngModel)]="question.bonusQuestion"
  >
  <input
    name="bonusPoints"
    class="form-control"
    type="number"
    placeholder="Бонус поени"
    min="10"
    max="50"
    step="1"
    [(ngModel)]="question.bonusPoints"
  >
  <textarea
    name="bonusAnswer"
    class="form-control"
    type="text"
    placeholder="Бонус одговор"
    [(ngModel)]="question.bonusAnswer"
  >
  </textarea>
  <button
    class="btn btn-default"
    type="submit"
    [disabled]="!newQuestion.form.valid"
  >
    Додати питање
  </button>
</form>