<div (click)="toggleDisplayQuestions()">
  <h4 class="title">{{topic.name}}</h4>
  <span class="glyphicon glyphicon-chevron-down"></span>
  <button class="btn btn-primary" (click)="openManageTopic()">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button class="btn btn-default btn-cancel" (click)="deleteTopic()">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>
<div class="questions" *ngIf="shouldDisplayQuestions()">
  <app-question-preview
    *ngFor="let question of topic.questions;"
    [question]="question"
  >
  </app-question-preview>
</div>
