<form class="container-fluid" #quizForm="ngForm">
  <div class="row">
    <div class="col-xs-12">
      <h4>
        <strong>
          Квис
        </strong>
      </h4>
      <input
        name="quizName"
        class="form-control"
        [(ngModel)]="quiz.name"
        placeholder="Име овога квиза"
        required
      >
    </div>
    <app-topic-form
      [topic]="editedTopic"
      (topicSubmitted)="onTopicSubmitted()"
    >
    </app-topic-form>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-success"
        type="submit"
       (click)="createQuiz()"
       [disabled]="!quizForm.form.valid || createQuizDisabled()"
      >
        <strong>
          Створити квис!
        </strong>
      </button>
    </div>
  </div>
</form>