<div class="container-fluid">
  <div class="row">
    <app-new-quiz-form
      [quiz]="quiz"
      (quizBasicsCreated)="onQuizBasicsCreated()"
      *ngIf="displayCreateBasics()"
    >
    </app-new-quiz-form>
    <app-new-topic-form
      [quiz]="quiz"
      *ngIf="displayCreateTopics()"
    >
    </app-new-topic-form>
    <!-- <button
      class="btn btn-primary"
      type="submit"
     (click)="createQuiz()"
    >
      <strong>
        Створити!
      </strong>
    </button> -->
  </div>
  <div class="row">
    <app-topic-preview
      *ngFor="let topic of quiz.topics;"
      [topic]="topic"
    >
    </app-topic-preview>
  </div>
</div>