<div class="container-fluid">
  <app-manage-name
    [named]="topic"
  >
  </app-manage-name>
  <app-question-preview
    *ngFor="let question of topic.questions;"
    [question]="question"
  >
  </app-question-preview>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="newQuestion()">
        Ново питање <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
    <div class="col-xs-12 margin-top-15" (click)="cancel()">
      <button class="btn btn-default">
        Батали <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-success" (click)="save()">
        Сачувати <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </div>
</div>
