<div class="container-fluid">
  <app-manage-name
    [named]="quiz"
  >
  </app-manage-name>
  <h4 class="section-header">
    <strong>
      Теми:
    </strong>
  </h4>
  <app-topic-preview
    *ngFor="let topic of quiz.topics;"
    [topic]="topic"
  >
  </app-topic-preview>
  <div class="row margin-top-30">
    <div class="col-xs-12">
      <button class="btn btn-primary">
        Нова тема <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
    <div class="col-xs-12 margin-top-15">
      <button class="btn btn-default" (click)="cancel()">
        Батали
      </button>
      <button class="btn btn-success" (click)="save()">
        Зачувај
      </button>
    </div>
  </div>
</div>